* {
    padding: 0;
    margin: 0;
}

.parent {
    width: 700px;
    height: 500px;
    margin: 50px auto;
    position: relative;
    background-color: beige;
}

.child {
    padding: 5px;
    margin: 5px;
}

.child-one {
    position: absolute;
    top: 15px;
    background-color: aqua;
}


.child-two {
    background-color: burlywood;
}


.child-three {
    background-color:darksalmon;
}